body{
    background:black;
}

#container{
    position: absolute;
    left: 50%;
    margin-left: -400px; 
    top: 50%;
    margin-top: -300px; 
    padding: 0px;
}

canvas{
    display: block;
}

#battle-menu{
    margin-top:1px;
    display: flex; 
    background: black;
    width:800px;
    height:120px;
    display:none;
    color: white;
    font-weight: bold;
    font-family: courier;
    font-size: 20px !important;
}

#battle-menu * {
    margin: 0;
    padding: 0;
}

#battle-menu > table{
    display: inline-block;
    border: 5px solid #fff0f5;
    border-radius: 15px;
    flex-basis: 100%;
}

#battle-menu td{
    height: 50px;
    width: 190px;
    white-space: pre-wrap;
    position: relative;,
}

#menu-action-table{
    margin-right: 6px;
}

#menu-subaction-table{
}

#cursor{
    position: absolute;
    top: 50%;
    margin-top: -15px;  /* = image height div 2 */
}
