#container{
    position: absolute;
    left: 50%;
    margin-left: -375px; 
    top: 50%;
    margin-top: -282px; 
    padding: 0px;
}

canvas{
    display: block;
}

#battle-menu{
    background: black;
    width:750px;
    height:120px;
    display:none;
}